{
    "extends": "airbnb",
    "env": {
    "node": true,
    "es6": true,
    "browser": true
    },
    "rules": {
        "no-use-before-define": ["error", {
            "variables": false,
            "functions": false
          }],
          "no-console": "off",
          "linebreak-style": "off",
          "no-alert": "off",
          "prefer-template": "off",
          "no-cond-assign": "off"
    }
}