{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "lines-between-class-members": "off",
    "comma-dangle": "off",
    "object-curly-newline": "off",
    "arrow-parens": "off",
    "consistent-return": "off",
    "operator-linebreak": "off",
    "no-restricted-globals": "off",
    "import/prefer-default-export": "off"
  }
}
