@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #eaedf3;
  font-family: 'Varela Round', 'Segoe UI';
}

/* admin dashboard */

.logo
{
    padding-top: 1.7rem;
}

.logo .title
{
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo .fa
{
    display: block;
    font-size: 3.5rem;
    text-align: center;
}

.sideMenu
{
  background: rgb(20, 156, 190);
  max-width: 310px;
  width: 310px;
  position: absolute;
  top: 0;
  bottom: 0;
}

nav
{
    padding-top: 20px;
}

.sideMenu a
{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 580;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.sideMenu a:hover
{
    background: rgb(7, 106, 131);
    border-left: 5px solid #F3E730;
    padding: 10px 30px 15px 25px;
}

.sideMenu a:hover .fa
{
    color: #F3E730;
}

.sideMenu a .fa
{
    color: #eaedf3;;
    font-size: 1.5rem;
    margin-right: 0.4rem;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 2px;
}

.sideMenu a.active
{
    background: rgb(7, 106, 131);
    border-left: 5px solid #F3E730;
    padding: 10px 30px 15px 25px;
}

.sideMenu a.active .fa
{
    color: #F3E730;
}

header
{
    background: #fff;
    margin-left: 310px;
    padding: 10px;
}

.welcome
{
    display: inline-block;
}

.message
{
    color: rgb(7, 106, 131);
    letter-spacing: 1.5px;
}

.user-area
{
    float: right;
}

.user-area a
{
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
}

.user-area a .fa
{
    font-size: 20px;
}

.user-img
{
    background: url(../images/placide.jpg) no-repeat center;
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(7, 106, 131);
    margin-top: 0.3rem;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.new-group
{
    margin-left: 310px;
    background: #fff;
    color: black;
    max-width: 50%;
    width: 50%;
    margin-top: 30px;
    margin-left: 450px;
    padding: 20px;
}

.new-group  .title { 
    color:  rgb(20, 156, 190);
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px; 
    text-align: center;
  }

.new-group  .input-fields .label 
{
    color: #524a4a; 
    font-size: 0.8rem; 
    letter-spacing: 2px; 
    text-transform: uppercase;  
 }

 .new-group  .input 
 { 
    margin: 5px 0 15px; 
    width: 100%; 
    padding: 8px;
    font-size: 0.9rem; 
    font-family: 'Montserrat';
    font-weight: bold; 
    letter-spacing: 0.1rem;
}

button 
{
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.new-group .forms-buttons-action 
{
  background-color: rgb(20, 156, 190);
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-left: 15rem;
  font-size: 0.9rem;
  font-family: 'Laila', helvetica;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s ease-in-out;
}

.new-group .forms-buttons-action a
{
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-left: 8px;
}

.new-group .forms-buttons-action:hover {
    background-color: rgb(7, 106, 131);
    cursor: pointer;
}
