@import url("../css/dashboard.css");

.new-group
{
    margin-left: 310px;
    background: #fff;
    color: black;
    max-width: 50%;
    width: 50%;
    margin-top: 30px;
    margin-left: 475px;
    padding: 20px;
}

.title { 
    color:  rgb(20, 156, 190);
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px; 
    text-align: center;
  }

.input-fields .label 
{
    color: #524a4a; 
    font-size: 0.8rem; 
    letter-spacing: 2px; 
    text-transform: uppercase;  
 }

 .input 
 { 
    margin: 5px 0 15px; 
    width: 100%; 
    padding: 8px;
    font-size: 0.9rem; 
    font-family: 'Montserrat';
    font-weight: bold; 
    letter-spacing: 0.1rem;
}

button 
{
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.forms-buttons-action 
{
  background-color: rgb(20, 156, 190);
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-left: 15rem;
  font-size: 0.9rem;
  font-family: 'Laila', helvetica;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s ease-in-out;
}

.forms-buttons-action a
{
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-left: 8px;
}

.forms-buttons-action:hover {
    background-color: rgb(7, 106, 131);
    cursor: pointer;
}
