@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* 
{
  box-sizing: border-box;
}

body 
{
  margin: 0;
  padding: 0;
  color: #fff;
  background: #eaedf3;
  font-family: 'Varela Round', 'Segoe UI';
}

.logo
{
    padding-top: 1.7rem;
}

.logo .title
{
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo .fa
{
    display: block;
    font-size: 3.5rem;
    text-align: center;
}

.sideMenu
{
  background: rgb(20, 156, 190);
  max-width: 310px;
  width: 280px;
  position: absolute;
  top: 0;
  bottom: 0;
}

nav
{
    padding-top: 20px;
}

.sideMenu a
{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 580;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}

.sideMenu a:hover
{
    background: rgb(7, 106, 131);
    border-left: 5px solid #F3E730;
    padding: 10px 30px 15px 25px;
}

.sideMenu a:hover .fa
{
    color: #F3E730;
}

.sideMenu a .fa
{
    color: #eaedf3;;
    font-size: 1.5rem;
    margin-right: 0.4rem;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 2px;
}

.sideMenu a.active
{
    background: rgb(7, 106, 131);
    border-left: 5px solid #F3E730;
    padding: 10px 30px 15px 25px;
}

.sideMenu a.active .fa
{
    color: #F3E730;
}

header
{
    background: #fff;
    margin-left: 280px;
    padding: 10px;
}

.welcome
{
    display: inline-block;
}

.message
{
    color: rgb(7, 106, 131);
    letter-spacing: 1.5px;
    padding-left: 20px;
}


.user-area
{
    float: right;
}

.user-area a
{
    display: inline-block;
    padding-right: 20px;
    text-decoration: none;
}

.user-area a .fa
{
    font-size: 20px;
}

.user-img
{
    background: url(../images/placide.jpg) no-repeat center;
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(7, 106, 131);
    margin-top: 0.3rem;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.groups
{
    background: #fff;
    color: black;
    max-width: 70%;
    width: 70%;
    height: 540px;
    margin-top: 30px;
    margin-left: 345px;
    padding: 20px; 
}

.groups .title { 
    color:  rgb(20, 156, 190);
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px; 
    text-align: center;
  }

.cards
{
    width: 100%;
    height: 90%;
}

.cards .row-1
{
    width: 100%;
    height: 49%;
    display: flex;
}

.row-1 .card-1
{
    background: url(../images/programming-1.jpg) no-repeat center;
    background-size: cover;
    width: 32%;
    height: 100%;
}

.row-1 .card-2
{
    background: url(../images/cybersecurity-2.jpeg) no-repeat center;
    background-size: cover;
    width: 32%;
    height: 100%;
}

.row-1 .card-3
{
    background: url(../images/business.jpeg) no-repeat center;
    background-size: cover;
    width: 32%;
    height: 100%;
}

.group-name
{
    background:rgb(224, 212, 33, 0.7);   
    width: 100%;
    height: 20%;
    margin-top: 60.2%;
}

.group-name h4
{
    text-align: center;
    padding-top: 0.8rem;
    letter-spacing: 1.2px;
}

.group-name:hover
{
    cursor: pointer;
    background:rgb(224, 212, 33); 
    transition: all 0.1s ease-in-out;
}

.row-1 .card-1, .card-2
{
    margin-right: 2%;
}

.cards .row-2
{
    width: 100%;
    height: 48.7%;
    margin-top: 1%;
    display: flex;
}

.row-2 .card-4
{
    background: url(../images/photography-1.jfif) no-repeat bottom;
    background-size: cover;
    width: 32%;
    height: 100%;
}

.row-2 .card-5
{
    background: url(../images/sports-1.jpg) no-repeat center;
    background-size: cover;
    width: 32%;
    height: 100%;
}

.row-2 .card-6
{
    background: url(../images/cinema-3.jpeg) no-repeat center;
    background-size: cover;
    width: 32%;
    height: 100%;
}

.row-2 .card-4, .card-5
{
    margin-right: 2%;
}


/**
* modal
**/


.modal 
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    transition-duration: 0s;
    transition-property: opacity;
    visibility: hidden;
}

.modal .modal-content 
{
    position: absolute;
    top: 0;
    bottom: 0;
    background: #EFEFEF;
    padding: 1rem 1.5rem;
    width: 40%;
    color: black;
    transform: translateX(-50%);
}

.modal .modal-content h2
{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgb(20, 156, 190);
}

.modal .modal-content .msg-space
{
    width: 100%;
    height: 88%;
    background: #fff;
    border: solid 1px rgba(34, 34, 34, 0.85);
}

.show-modal 
{
  opacity: 1;
  visibility: visible;
}


.show-modal .modal-content
{
  transform: translateX(0);
  transition: transform 0.25s;
}

.send-msg
{
    margin-top: 4%;
    margin-left: 6%;
}

.send-msg input
{
    padding: 10px;
    outline: none;
    width: 72.5%;
    font-family: 'Montserrat';
    font-size: 0.90rem;
    font-weight: bold;
    color: #06080A;
    letter-spacing: 0.1rem;
}

.send-msg input::placeholder 
{
  font-size: 0.90rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: #6c7882;
}

.send-btn
{
    padding: 10px;
    width: 6rem;
    font-size: 0.92rem;
    font-weight: bold;
}

.send-btn:hover
{
    cursor: pointer;
}

.left
{
    float: left;
}

.right
{
    margin-left: 12rem;
}

.send-msg .fa
{
    color: rgb(7, 106, 131);
    font-size: 1.1rem;
}

.group-name
{
    text-transform: uppercase;
}