@import url("../css/dashboard.css");

.inbox
{
    background: #fff;
    color: black;
    max-width: 70%;
    width: 70%;
    height: 518px;
    margin-top: 30px;
    margin-left: 345px;
    padding: 20px; 
}

.title 
{ 
    color:  rgb(20, 156, 190);
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; 
    text-align: center;
}

 .sender
 {
     margin-left: 60px;
 }

.checkbox-wrapper 
{
    cursor: pointer;
    height: 18px;
    width: 18px;
    position: relative;
    display: inline-block;
    box-shadow: inset 0 0 0 1px #A3ADB2;
    border-radius: 1px;
    margin-top: 15px;
    margin-left: 17px;
}

input 
{
    opacity: 0;
    cursor: pointer;
}
  
input:checked ~ label 
{
    opacity: 1;
}

label 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background: rgb(79, 199, 230);
    opacity: 0;   
}

label:hover 
{
    background: rgb(79, 199, 230);
    opacity: 0.5;  
}

label:active 
{
    background: rgb(79, 199, 230);   
}
 
.message-list 
{
    display: block;
    font-size: 0.9rem;
    letter-spacing: 0.3px;
}

li 
{
    position: relative;
    display: block;
    line-height: 50px;
    transition-duration: 0.3s;
   
}

li:hover
{
    background: #EFEFEF;
    transition-duration: 0.05s;
    cursor: pointer;
}

li.unread 
{
    font-weight: 600;
    color: #555;
}
 

li .col-1 
{
    width: 300px;
}

li .col-1 .checkbox-wrapper,
li .col-1 .dot 
{
    display: block;
    float: left;
}
 
li .col-1 .title 
{
    position: absolute;
    left: 50px;
    font-size: 0.8rem;    
}

li .col-2 
{
    position: absolute;
    top: 0;
    left: 238px;   
}

li .col-3 
{
    position: absolute;
    top: 0;
    left: 91%;   
}

.message-count
{
  color: black;
  font-size: 10px;
  margin-right: 10px;
  margin-top: 8px;
}

.btn {
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid rgb(150, 148, 148);
  background-color: #f4f4f4;
  padding: 5px 10px;
  font-size: 10px;
  line-height: 1.5;
  outline: none;
  transition: all 0.1s ease-in-out;
}

.btn:hover
{
  cursor: pointer;
  border-color: black;
}

.btn:active
{
  background: rgb(210, 210, 212);
}

.btn-group
{
  margin-right: 20px;
}

.pull-right
{
  float: right;
  display: flex;
}


/**
* modal
**/


.modal 
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    transition-duration: 0s;
    transition-property: opacity;
    visibility: hidden;
}

.modal-content 
{
    position: absolute;
    top: 0;
    bottom: 0;
    background: #EFEFEF;
    padding: 1rem 1.5rem;
    width: 44%;
    color: black;
    letter-spacing: 0.5px;
    transform: translateX(-50%);
}

.modal-content h2
{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: rgb(20, 156, 190);
}

.show-modal 
{
  opacity: 1;
  visibility: visible;
}


.show-modal .modal-content
{
  transform: translateX(0);
  transition: transform 0.25s;
}